#banner .image {
  display: flex;
  justify-content: center;
  margin: 0;
}

#banner .image img {
  width: 100%;
}

.text {
  padding: 0 4vw;
  box-sizing: border-box;
  line-height: 1.1em;
}

.text h2 {
  text-align: center;
  font-size: 1.7em;
  color: #29455b;
  padding-bottom: 2vh;
}

.text p {
  font-size: 1.2em;
  color: #353638;
}

#whoAreWe {
  margin: 20px auto;
  padding: 10px;
}

#whoAreWe section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  box-sizing: border-box;
}

#whoAreWe section div {
  margin: 0 auto;
}

#whoAreWe .image img {
  border-radius: 50%;
  width: 100%;
  height: 40vh;
  margin-top: 20px;
}

#cards {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  flex-wrap: wrap;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3em;
  justify-content: space-evenly;
  padding: 20px;
  margin: 0 5%;
}

.grid-item {
  width: 100%;
  padding: 2vh;
  text-align: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  border: 1px solid #252626;
  box-shadow: 1px 1px 3px #727272;
}

.grid-item h3 {
  color: #29455b;
}

@media (max-width: 1024px) {
  #whoAreWe section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
  }

  #whoAreWe .image {
    margin-top: 3%;
  }

  #whoAreWe .image img {
    height: 22vh;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5em;
  }

  .grid-item {
    margin: 0;
    padding: 15px;
  }

  .grid-item h3 {
    font-size: 17px;
  }

  .grid-item p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  header {
    height: 9vh;
  }

  header img {
    height: 9vh;
  }

  .text h2 {
    text-align: center;
    font-size: 1.4em;
    color: #29455b;
    margin-bottom: 2%;
  }

  .text p {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .default h2 {
    text-align: center;
    font-size: 1.5em;
    color: #29455b;
  }

  #whoAreWe {
    margin-top: 10px;
  }

  #whoAreWe .image img {
    height: 25vh;
  }

  .text h2 {
    font-size: 1.2em;
    margin-bottom: 5%;
  }

  .text p {
    font-size: 0.8em;
  }

  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
    margin: 0 auto;
    padding: 0 20%;
  }

  .grid-item h3 {
    font-size: 1em;
  }

  .grid-item p {
    font-size: 0.8em;
  }
}
