body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

header img {
  justify-content: center;
  align-items: center;
}

header,
header img {
  height: 13vh;
}

header a {
  background-color: #0b8fac;
  border: none;
  position: absolute;
  width: 8%;
  right: 50px;
  border-radius: 20px;
  padding: 8px;
  font-size: 15px;
  color: #ffff;
  text-decoration: none;
  text-align: center;
}

header a:hover {
  background-color: #056277;
  transition: background 0.5s;
}

nav {
  background-color: #0b8fac;
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  height: 8vh;
}

nav ul li {
  flex-shrink: 1;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

footer {
  background-color: #0b8fac;
  padding: 20px;
}

footer p {
  text-align: center;
  color: #fff;
  font-size: 18px;
}

@media(max-width: 1024px){
  header,
  header img {
    height: 10vh;
  }

  header a {
    width: 15%;
    font-size: 17px;
  }

  nav ul {
    height: 5vh;
  }

  nav ul li a {
    font-size: 16px;
  }
  
  footer {
    padding: 10px;
  }

  footer p {
    font-size: 16px;
  }
}

@media(max-width: 800px){
  header,
  header img {
    height: 9vh;
  }

  header a {
    width: 10%;
  }

  nav ul {
    height: 6vh;
  }

  nav ul li a {
    font-size: 16px;
  }

  header a {
    width: 15%;
  }

  header a {
    font-size: 14px;
  }
  
  footer {
    padding: 10px;
  }

  footer p {
    font-size: 16px;
  }
}

@media(max-width: 480px){
  header,
  header img {
    height: 8vh;
  }

  header a {
    width: 13%;
    font-size: 12px;
    right: 10px;
  }

  nav ul {
    height: 5vh;
  }

  nav ul li a {
    font-size:11px;
  }

  footer {
    padding: 10px;
  }

  footer p {
    font-size: 14px;
  }
}
