main {
  max-width: 300px;
  padding: 0.5rem 2rem 2rem;
  display: block;
  margin: 5.5rem auto;
  border-radius: 0.3rem;
  color: #5d5d5d;
  font-size: 1.1rem;
  box-shadow: 0 0 5px #6d6d6d;
  font-family: Verdana, Arial, sans-serif;
}

h2 {
  text-align: center;
  color: #0b8fac;
}

div {
  margin-bottom: 10px;
}

.inputs:focus {
  border: 2px solid #0b8fac;
}

.inputs {
  width: 100%; 
  margin: 0.5rem 0;
}

.validationSpan {
  color: red;
  font-size: 14px;
}

.inputSubmit {
  display: flex;
  width: 60%;
  justify-content: center;
  margin: 1.5rem auto;
  background-color: #0b8fac;
  color: #fff;
  cursor: pointer;
}

.inputSubmit:hover {
  background-color: #056277;
  transition: background 0.5s;
}

.inputs, .inputSubmit{
  font-size: 17px;
  padding: 0.4rem;
  outline: none;
  border: 0.5px solid #aeacac;
  box-sizing: border-box;
}

.material-symbols-outlined {
  vertical-align: middle;
}

#loginFailMsg {
  display: none;
}