body {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  box-sizing: border-box;
}

form {
  width: 100%;
}

form h2 {
  margin-top: 10px;
  text-align: center;
  color: #0b3f48;
}

fieldset > legend {
  margin-left: 8%;
  font-size: 20px;
  color: #232323;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.form-group > input, .form-group > select {
  margin-bottom: 2%;
}

.button {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 1rem;
}

.btn {
  width: 20%;
}

