body {
  font-family: sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1em;
  margin: 0 auto;
  max-width: 80%;
}

.card {
  padding: 1em;
  max-width: 300px;
  margin: 10px 5px 0px;
  box-sizing: border-box;
}

.card img {
  width: 100%;
  height: 23vh;
}

.card h2 {
  font-family: "Museo1";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0;
  margin: 10px 0;
  color: #1949ae;
}

.material-symbols-outlined {
  vertical-align: middle;
}

.description {
  font-family: "Museo1";
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #858585;
}

.description span {
  cursor: pointer;
}

.description span:hover {
  transition: 0.5s;
  color: #2b2a2a;
}

.modal a {
  text-decoration: none;
  color: #fff;
  background-color: #0b778f;
  border: 1px solid #29455b;
  padding: 3px;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #29455b;
}

.modal a:hover {
  background-color: #056279;
}

.modal {
  max-width: 300px;
  color: #858585;
  display: none;
}

.modal.visible {
  display: block;
}

footer {
  width: 100%;
  padding: 8px;
}

footer p {
  font-size: 16px;
}

@media (max-width: 1024px) {
  .card img {
    height: 15vh;
  }

  h2,
  .description {
    font-size: 14px;
  }

  .card h2 ~ span {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  .card img {
    height: 15vh;
  }

  footer {
    position: relative;
  }
}

@media (max-width: 480px) {
  .card img {
    height: 18vh;
  }

  .card h2,
  .description {
    font-size: 14px;
  }

  .modal p {
    font-size: 14px;
  }
}
