body {
  box-sizing: border-box;
  margin: 0;
}

header {
  background-color: #fff;
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > img {
  height: 13vh;
}

nav {
  background-color: #0b8fac;
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  height: 8vh;
}

nav ul li {
  flex-shrink: 1;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
/*
#banner {
  background-image: url(./image/fundo_desfocado.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}*/


#banner .image {
  display: flex;
  justify-content: center;
  margin: 0;
}

#banner .image img {
  width: 100%;
}

.default .text {
  padding: 2vh 4vw;
  box-sizing: border-box;
  line-height: 1.1em;
}

.default h2{
  text-align: center;
  font-size: 1.7em;
  color: #29455b;
}

 p {
  color: #353638;;
}

#whoAreWe {
  margin-top: 30px;
}

#whoAreWe section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  box-sizing: border-box;
}

#whoAreWe section div {
  margin: 0 auto;
}

#whoAreWe .image img {
  border-radius: 50% 50%;
  height: 40vh;
}

#cards {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}


#cards section {
  display: flex;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3em;
  justify-content: space-evenly;
}

.grid-item {
  width: 200px;
  padding: 2vh;
  text-align: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  border: 1px solid #252626;
  box-shadow: 1px 1px 3px #727272;
}

.grid-item h3 {
  color: #29455b;
}

footer {
  background-color: #0b8fac;
  padding: 20px;
}

footer p {
  text-align: center;
  color: #fff;
  font-size: 18px;
}