body {
  box-sizing: border-box;
}

header,
header img {
  display: flex;
  justify-content: center;
  height: 9vh;
  background-color: #fff;
}

hr {
  padding: 0.2px;
  background-color: #aaaaf7;
  opacity: 0.6;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  width: 60%;
  padding: 20px 0px 10px;
  margin-top: 2vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

fieldset {
  border: none;
}

legend {
  font-size: 20px;
  color: #044756;
  padding-bottom: 2rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 1.6rem;
}

.item {
  position: relative;
}

.item-special {
  margin-top: 1.2rem;
}

input,
select {
  width: 100%;
  border: none;
  outline: none;
  opacity: 0.8;
  background: none;
  border-bottom: 1px solid #035f74;
}

label {
  font-size: 15px;
  color: #565656;
}

.labelInput {
  top: 0px;
  left: 0px;
  transition: 0.5s;
  position: absolute;
  pointer-events: none;
}

input:focus ~ .labelInput,
input:valid ~ .labelInput {
  top: -20px;
  font-size: 13px;
  color: #0b8fac;
  font-weight: 500;
}

.col-12 {
  grid-column: span 12;
}
.col-8 {
  grid-column: span 8;
}

.col-6 {
  grid-column: span 6;
}

.col-4 {
  grid-column: span 4;
}

.col-3 {
  grid-column: span 3;
}

.btn {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0.5rem 0rem;
}

.btn a,
.btn button {
  padding: 10px;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #000;
  background-color: #000;
}

.btn a {
  width: 85px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  background-color: #6d0606;
}

.btn a:hover {
  transition: 0.5s;
  background-color: #850404;
}

.btn button {
  width: 110px;
  font-size: 15px;
  background-color: #05586b;
}

.btn button:hover {
  transition: 0.5s;
  background-color: #066a80;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2px;
  position: fixed;
  background-color: #0b8fac;
}

footer p {
  color: #fff;
  font-size: 13px;
  text-align: center;
}

@media (max-width: 1024px) {
  header,
  header img {
    height: 6vh;
  }

  main {
    height: 100vh;
  }

  form {
    width: 85%;
    padding: 0;
  }

  legend {
    font-size: 20px;
    padding-bottom: 2rem;
  }

  .wrapper {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  label,
  input {
    font-size: 15px;
  }

  .btn {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 10px 0px;
  }

  footer {
    padding: 6px;
    bottom: auto;
  }
}

@media (max-width: 800px) {
  form {
    width: 90%;
  }

  legend {
    font-size: 18px;
    padding-bottom: 1rem;
  }

  .wrapper {
    grid-column-gap: 1.5rem;
    grid-row-gap: 0.5rem;
  }

  .item {
    margin-top: 1.1rem;
  }

  .item-special {
    margin-top: 2.3rem;
  }

  label {
    font-size: 12px;
  }

  input,
  select {
    font-size: 11px;
  }

  input:focus ~ .labelInput,
  input:valid ~ .labelInput {
    top: -16px;
    font-size: 11px;
  }

  .col-3 {
    grid-column: span 6;
  }

  .btn {
    margin: 1.5rem 0.3rem 0rem;
  }

  footer {
    padding: 5px;
  }

  footer p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  hr {
    padding: 0.1px;
  }

  form {
    width: 95%;
  }

  legend {
    font-size: 17px;
  }

  .wrapper {
    grid-column-gap: 0.8rem;
    grid-row-gap: 0.6rem;
  }

  label,
  input,
  select {
    font-size: 10px;
  }

  .btn a,
  .btn button {
    font-size: 13px;
    padding: 6px;
  }

  .btn a {
    width: 70px;
  }

  .btn button {
    width: 90px;
  }

  footer {
    padding: 1px;
  }
}

@media (max-width: 375px) {
  legend {
    font-size: 15px;
  }

  .item {
    margin-top: 1rem;
  }

  .item-special {
    margin-top: 2.2rem;
  }

  label,
  input,
  select {
    font-size: 9px;
  }
}
